<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Notification.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>UNNotificationContentExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>UNNotificationServiceExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7C0842AC1E2C70B6001D5324</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7C0842BD1E2C71C3001D5324</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7C0842D71E2CBA1F001D5324</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7C0842E71E2CBD5E001D5324</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7C0842F71E2CC50E001D5324</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7C6767581E514AC7008345CC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7C6767681E514B15008345CC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7C67677D1E514B3C008345CC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7C6767921E516012008345CC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7C6767A71E518E00008345CC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7CCBA9AC1E121CB40039A3EB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7CE53ADB1E53E41800D1561F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7CF86D9B1E34B592001070E0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
